<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <ng-container *ngFor="let article of articles; let i = index">
      <app-big-card
        *ngIf="i < 2"
        [Id]="article.id"
        [photoCover]="article.photoCover"
        [cardTitle]="article.cardTitle"
        [cardDescription]="article.cardDescription"
      >
      </app-big-card>
    </ng-container>
  </div>
  <div class="articles__others">
    <ng-container *ngFor="let article of articles; let i = index">
      <app-small-card
        *ngIf="i > 1"
        [Id]=article.id
        [cardTitle]="article.cardTitle"
        [photoCover]="article.photoCover"
      >
      </app-small-card>
    </ng-container>
  </div>
</div>
